* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: #222;
  background: linear-gradient(120deg,
      #013a2b,
      #02665c,
      #1b7a7c,
      #0d3b66,
      #4a5b5d);

  background-size: 800% 800%;
  animation: flowingWater 18s ease-in-out infinite;
  color: #222;

}

@keyframes flowingWater {
  0% {
    background-position: 0% 40%;
  }

  50% {
    background-position: 100% 60%;
  }

  100% {
    background-position: 0% 40%;
  }
}

.title {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}


a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}


.btn {
  display: inline-block;
  padding: .6rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary {
  background: #0d6efd;
  color: #fff;
}

.btn-primary:hover {
  filter: brightness(.95);
}

.btn-success {
  background: #198754;
  color: #fff;
}

.btn-success:hover {
  filter: brightness(.95);
}

.btn-ghost {
  background: transparent;
  border: 1px solid #ddd;
}